body {
    background-color: salmon;
}

#fruits-index {
    font-size: 30px;
    color: purple;

}
#fruits-show{
    font-size: 25px;
    color:aqua;
}
#meats-index{
    font-size: 25px;
    color:red;
    background-color: chartreuse;
}
#veggies-index{
    font-size: 25px;
    color:green;
    background-color: yellow;
}